{% extends "user/base.html" %}
{% block content %}
<div class="container mt-5 text-center">
    <h2 class="mt-4 display-4 text-uppercase text-danger">Driver</h2>

    <div class="card mt-4 bg-dark text-white">
        <div class="card-header">
            <h5 class="card-title display-5">{{ driver[1] }} {{ driver[2] }}</h5>
        </div>
        <div class="card-body">
            <p class="card-text h3"><strong>Date of Birth:</strong> {{ driver[3] }}</p>
            <p class="card-text h3"><strong>Age:</strong> {{ driver[4] }}</p>
            <p class="card-text h3"><strong>Total Runtime:</strong> {{ runtime }} seconds</p>
        </div>
    </div>

    <h3 class="mt-4 text-info">Run Information </h3>
    <div class="table-responsive">
        <table class="table table-bordered table-striped table-dark">
            <thead class="thead-light">
                <tr>
                    <th class="h4">Course ID</th>
                    <th class="h4">Run Number</th>
                    <th class="h4">Seconds</th>
                    <th class="h4">Cones</th>
                    <th class="h4">WD</th>
                </tr>
            </thead>
            <tbody>
                {% for run in run_info %}
                <tr>
                    <td class="h5">{{ run[0] }}</td>
                    <td class="h5">{{ run[1] }}</td>
                    <td class="h5">{{ run[2] }}</td>
                    <td class="h5">{{ run[3] }}</td>
                    <td class="h5">{{ run[4] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <a href="/" class="btn btn-warning btn-lg mt-4">Back to Home</a>
</div>
{% endblock %}
